<div class="crop-tool crop-tool-{{prefix}}">
    <div class="original">
        <img id="crop-image-source-{{prefix}}" src="{{src}}" />
    </div>

    <div class="preview">
        <div class="result">
            <div class="stamp-overlay"></div>
            <canvas class="result" id="crop-image-result-{{prefix}}" width="240" height="240"></canvas>

            <a href="#" class="button crop-cancel-{{prefix}}">Выбрать другое изображение</a>
        </div>

        Перемещайте или изменяйте размер выделенной области в&nbsp;лувом блоке, и&nbsp;старайтесь
        подогнать результат в&nbsp;правом блоке так, чтобы печать уместилась в&nbsp;круге.

        <br/>
        <br/>

        <a class="button blue crop-save" href="#">Сохранить</a>
    </div>

    <div class="clear"></div>
</div>