<form id="form-nomenclature-edit" class="form forms forms-linear" action="">
    <div class="form-message"></div>

    <div class="form-item">
        <label for="ne_name">Название
            <input id="ne_name" name="ne_name" class="width-100" type="text" value="{{name}}"/>
        </label>
    </div>

    <hr/>
    
    <div class="form-item no-margin">
        <input class="button blue" type="submit" value="Сохранить"/>
        <input id="delete-nomgroup" class="button red" type="button" value="Удалить"/>
    </div>
</form>