header
    a.logo(href="/")
        i
        | Менеджер
    .user-params
        a.action-button(href="/user")
            i.icon-user-female
            if user.display_name
                | #{user.display_name}
            else
                | #{user.username}
        a.action-button.red.logout(href="#")
            |Выйти
