a.notice.yellow(href="#")
    i.icon-mail
    span Пожалуйста, подтвердите свой адрес электронной почты

header
    a.logo(href="/")
        i
        |Менеджер

    .user-params
        if user.cc_name
            strong
                span#global-company-type #{utils.getCompanyTypeName(user.cc_type)}
                |&nbsp;&laquo;
                span#global-company-name #{user.cc_name}
                |&raquo;

        a.action-button(href="/user")
            i.icon-user-female

            if user.display_name
                |#{user.display_name}
            else
                |#{user.username}

        a.action-button.red.logout(href="#")
            i.icon-off
            |Выйти
