nav.top-menu
    .links
        a(href="#") Счета
        a(href="#") Накладные
        a(href="#") Коммерческие предложения
        a(href="#") Номенклатура
        a(href="#") Контрагенты
    .tools
        a(href="#")
            i.icon-cog

    div.clearfix