nav.top-menu
    .links
        a(href="/accounts?date_range=last_month", class=(section=='accounts' ? 'active' : '')) Счета
        a(href="/waybills", class=(section=='waybills' ? 'active' : '')) Накладные
        a(href="/offers", class=(section=='offers' ? 'active' : '')) Коммерческие предложения
        a(href="/nomenclature", class=(section=='nomenclature' ? 'active' : '')) Номенклатура
        a(href="/contracting-parties", class=(section=='contracting-parties' ? 'active' : '')) Контрагенты
    .tools
        a(href="/settings")
            i.icon-cog

    div.clearfix