nav.nav-left
    .links
        a.menu-icon(href="/accounts?date_range=last_month", class=(section=='accounts' ? 'active' : ''))
            span Счета
        a.menu-icon(href="/offers", class=(section=='offers' ? 'active' : ''))
            span Счета-фактуры
        a.menu-icon(href="/waybills", class=(section=='waybills' ? 'active' : ''))
            span Накладные
        a.menu-icon(href="/acts", class=(section=='acts' ? 'active' : ''))
            span Акты
        a.menu-icon(href="/contracts", class=(section=='contracts' ? 'active' : ''))
            span Договоры
        a.menu-icon(href="/nomenclature", class=(section=='nomenclature' ? 'active' : ''))
            span Номенклатура
        a.menu-icon(href="/contractors", class=(section=='contractors' ? 'active' : ''))
            span Контрагенты
        a.menu-icon(href="/configure", class=(section=='configure' ? 'active' : ''))
            span Настройка

    div.clearfix