// Templates
script(src='/javascripts/libs/jquery.js')
script(src='/javascripts/libs/jquery-ui.js')
script(src='/javascripts/libs/handlebars-v1.2.0.js')
script(src='/javascripts/libs/stupidtable.min.js')
script(src='/javascripts/libs/masked-input.min.js')

// Plugins
script(src='/javascripts/plugins/numeral/numeral.min.js')
script(src='/javascripts/plugins/numeral/languages.min.js')

// Important! Do not change the order!
script(src='/javascripts/app.js')
script(src='/javascripts/extensions/app.utils.js')
script(src='/javascripts/extensions/app.loading.js')
script(src='/javascripts/extensions/app.templates.js')
script(src='/javascripts/extensions/app.modal.js')
script(src='/javascripts/extensions/app.docview.js')
script(src='/javascripts/extensions/app.form.js')
script(src='/javascripts/extensions/app.datepicker.js')
script(src='/javascripts/extensions/app.number.js')
script(src='/javascripts/extensions/app.items-selector.js')
script(src='/javascripts/extensions/app.auth.js')
script(src='/javascripts/extensions/app.nomenclature.js')

// Sections
script(src='/javascripts/sections/app.section.accounts.js')

// Initialize
script(src='/javascripts/init.js')
