doctype html

html
    head
        include ../includes/head
        include ../includes/scripts
    body
        .wrap
            if user && user.companies > 0
                .nav-left
        
            .app
                #loading-global

                include ../includes/header

                .main-view
                    block content

        footer
            include ../includes/footer
            include ../includes/metrics