doctype html

html
    head
        include ../includes/head
        include ../includes/scripts
    body
        #loading-global

        .wrap
            .app
                include ../includes/header
                include ../includes/nav-top

                .main-view
                    block content

        footer
            include ../includes/footer
            include ../includes/metrics