extends layouts/main

block content
    h1
        a(href="/accounts") Счета
        span.color-gray-light &nbsp;/&nbsp;
        span#header-item-name Новый счет

    form#form-add-account.form.forms.forms-columnar(action='')
        .form-message

        .units-row-end
            .unit-50
                .form-item
                    label(for="number") Номер счета
                    input#number.width-100(type='text', value=number)
                .form-item
                    label(for="date") Дата
                    input#date.width-100(type='text', data-metatype='date', value=utils.stringifyDate(new Date()))

            .unit-50
                .form-item
                    label(for="status") Оплачен
                    input#status.stylish(type="checkbox")
                .form-item
                    label(for="contractor") Контрагент
                    select#contractor
                        option(value="ABC1") ООО &laquo;Системы и сервисы&raquo;

        .units-row-end
            .unit-100
                .form-item
                    input#items(type='hidden')
                    label(for="items") Позиции
                    #items-selector

        .units-row-end
            .unit-100
                .form-item
                    label(for="comment") Комментарий
                    textarea#comment.width-full-size
                        |Внимание! Оплата данного счета означает согласие с условиями поставки товара. Уведомление об оплате  обязательно, в противном случае не гарантируется наличие товара на складе. Товар отпускается по факту прихода денег на р/с Поставщика, самовывозом, при наличии доверенности и паспорта.Внимание! Оплата данного счета означает согласие с условиями поставки товара. Уведомление об оплате  обязательно, в противном случае не гарантируется наличие товара на складе. Товар отпускается по факту прихода денег на р/с Поставщика, самовывозом, при наличии доверенности и паспорта.

        hr
        .units-row-end
            .unit-100
                .form-item.no-margin
                    input.button.blue(type='submit', value='Создать счет')
                    a.button.view-invoice(href="#") Посмотреть счет

    script.
        app.sections.accounts.add.init();