extends layouts/main

block content
    h1
        a(href="/accounts") Счета
        span.color-gray-light &nbsp;/&nbsp;
        span#header-item-name Новый счет

    form#form-add-account.form.forms.forms-columnar(action='')
        .form-message

        .units-row-end
            .unit-50
                p
                    label(for="number") Номер счета
                    input#number.width-100(type='text')
                p
                    label(for="date") Дата
                    input#date.width-100(type='text', data-metatype='date', value=utils.stringifyDate(new Date()))
                p
                    label(for="contractor") Контрагент
                    select#contractor
                        option(value="ABC1") ООО &laquo;Системы и сервисы&raquo;
            .unit-50
                p
                    label(for="comment") Комментарий
                    textarea#comment.width-100(style="height: 81px")

        input.button.blue(type='submit', value='Создать счет')

    script.
        app.sections.accounts.add.init();