extends layouts/main

block content
    h1 Счета

    .section-tools
        a#add.action-button.green(href="/accounts/add")
            i.icon-plus
            | Создать

        a#add.action-button.warning(href="#")
            i.icon-cancel
            | Удалить

    .table-container
        table.width-100.table-striped.table-bordered
            tr
                th(width="1%")
                    input(type="checkbox")
                th Номер счета
                th Дата
                th Сумма
                th Контрагент
                th(width="1%")
                    span.status-label(title="Оплачен")
                        i.icon-rouble

            each val in data
                tr
                    td
                        input(type="checkbox")
                    td
                        a(href="/accounts/edit/#{val._id}") #{val.number}
                    td #{val.date}
                    td #{utils.priceFormat(val.sum)}&nbsp;
                        span.rub &#8399;
                    td
                    td
                        span.status-label(title="Оплачен")
                            i.icon-rouble