extends layouts/auth

block content
    .login
        .login-screen
            .login-icon

            .login-form
                form(action='')
                    h1 Восстановление пароля

                    if result.success == true
                        .form-message.success #{result.message}
                    else
                        .form-message.error #{result.message}

                    .login-links
                        a.login-link.gray-link(href='/auth/login') Войти в Менеджер