extends layouts/auth

block content
    .login
        .login-screen
            .login-form
                form#form-password-recovery(action='/auth/password-recovery', method='post')
                    h1 Вспомнить пароль

                    .form-message

                    .form-inputs
                        .form-group
                            input#email.form-control.login-field(type='email', name='email', value='', placeholder='Введите свой e-mail')
                            label(for='email')
                                i.icon-mail

                        input.button.blue(type='submit', value='Выслать инструкцию')

                    .login-links
                        a.login-link.gray-link(href='/auth/login') Вход в Менеджер





