extends layouts/auth

block content
    .login
        .login-screen.sign-in-form
            .login-form
                form#form-sign-up(action='/auth/sign-up', method='post')
                    h1 Регистрация

                    .form-message

                    .form-inputs
                        .form-group
                            input#email.form-control.login-field(type='text', name='email', value='', placeholder='Введите свой e-mail', autocomplete='off')
                            label.login-field-icon.fui-mail(for='email')
                                i.icon-mail

                        .form-group
                            input#username.form-control.login-field(type='text', name='username', value='', placeholder='Введите ваше имя', autocomplete='off')
                            label.login-field-icon.fui-user(for='username')
                                i.icon-user-female

                        .form-group
                            input#password.form-control.login-field(type='password', name='password', value='', placeholder='Придумайте пароль', autocomplete='off')
                            label.login-field-icon.fui-lock(for='password')
                                i.icon-lock

                        input.button.blue(type='submit', value='Зарегистрироваться')

                    .login-links
                        a.login-link.gray-link(href='/auth/login') Войти в Менеджер