doctype html
html
    head
        title Test

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        link(href='/flat-ui/bootstrap/css/bootstrap.css', rel='stylesheet')
        link(href='/flat-ui/css/flat-ui.css', rel='stylesheet')
        link(rel='shortcut icon', href='/flat-ui/images/favicon.ico')

        //if lt IE 9
        script(src='/flat-ui/js/html5shiv.js')
    body
        .container
            nav.navbar.navbar-inverse.navbar-embossed(role='navigation')
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-01')
                        span.sr-only Toggle navigation
                    a.navbar-brand(href='#')
                        span.fui-flat

                div#navbar-collapse-01.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        if !user
                            li
                                a(href="/") Home
                            li
                                a(href="/login") Log In
                        else
                            li
                                a(href="/") Home
                            li
                                a(href="/account") Account
                            li
                                a(href="/logout") Log Out

            block content

            script(src='http://code.jquery.com/jquery-2.0.3.min.js')
            script(src='/flat-ui/js/jquery-ui-1.10.3.custom.min.js')
            script(src='/flat-ui/js/jquery.ui.touch-punch.min.js')
            script(src='/flat-ui/js/bootstrap.min.js')
            script(src='/flat-ui/js/bootstrap-select.js')
            script(src='/flat-ui/js/bootstrap-switch.js')
            script(src='/flat-ui/js/flatui-checkbox.js')
            script(src='/flat-ui/js/flatui-radio.js')
            script(src='/flat-ui/js/jquery.tagsinput.js')
            script(src='/flat-ui/js/jquery.placeholder.js')
            script(src='/javascripts/core.js')