doctype html
html
    head
        title Test

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        link(rel='shortcut icon', href='/flat-ui/images/favicon.ico')

        link(href='/flat-ui/bootstrap/css/bootstrap.css', rel='stylesheet')
        link(href='/flat-ui/css/flat-ui.css', rel='stylesheet')

        link(href='/stylesheets/main.css', rel='stylesheet')

        //if lt IE 9
        script(src='/flat-ui/js/html5shiv.js')
    body
        #loading-global
        block content

        script(src='http://code.jquery.com/jquery-2.0.3.min.js')
        script(src='/flat-ui/js/jquery-ui-1.10.3.custom.min.js')
        script(src='/flat-ui/js/jquery.ui.touch-punch.min.js')
        script(src='/flat-ui/js/bootstrap.min.js')
        script(src='/flat-ui/js/bootstrap-select.js')
        script(src='/flat-ui/js/bootstrap-switch.js')
        script(src='/flat-ui/js/flatui-checkbox.js')
        script(src='/flat-ui/js/flatui-radio.js')
        script(src='/flat-ui/js/jquery.tagsinput.js')
        script(src='/flat-ui/js/jquery.placeholder.js')

        script(src='/javascripts/libs/handlebars-v1.2.0.js')

        // Important! Do not change the order!
        script(src='/javascripts/app.js')
        script(src='/javascripts/extensions/app.loading.js')
        script(src='/javascripts/extensions/app.templates.js')
        script(src='/javascripts/extensions/app.form.js')
        script(src='/javascripts/extensions/app.auth.js')

        script(src='/javascripts/init.js')