extends layouts/main

block content
    .main-actions
        .units-row
            .unit-25
                a.item(href="/accounts/add")
                    img(src="/images/logo.png")
                    span.title Выставить счет

            .unit-25
                a.item(href="#")
                    img(src="/images/logo.png")
                    span.title Создать накладную

            .unit-25
                a.item(href="#")
                    img(src="/images/icons/building@2x.png")
                    span.title Добавить контрагента

            .unit-25
                a.item(href="#")
                    img(src="/images/icons/box@2x.png")
                    span.title Добавить товар

        .units-row-end
            .unit-25
                a.item(href="#")
                    img(src="/images/logo.png")
                    span.title Создать счет
            .unit-25
                a.item(href="#")
                    img(src="/images/logo.png")
                    span.title Создать счет
            .unit-25
                a.item(href="#")
                    img(src="/images/logo.png")
                    span.title Создать счет
            .unit-25
                a.item(href="#")
                    img(src="/images/logo.png")
                    span.title Создать счет