extends layouts/main

block content
    table.width-100.table-striped.table-bordered.table-hovered
        tr
            th XXX 1
            th XXX 2
            th XXX 3
        tr
            td x
            td c
            td v

