.wrap
    .app
        header
            a.logo(href="/") Manager
        nav.top-menu
            .links
                a(href="#") Счета
                a(href="#") Накладные
                a(href="#") Коммерческие предложения
                a(href="#") Номенклатура
                a(href="#") Контрагенты
            .tools
                a(href="#")
                    i.icon-cog
            div.clearfix
        .content
            .main-view
                h1 Счета
                table.width-100.table-striped.table-bordered.table-hovered
                    tr
                        th XXX 1
                        th XXX 2
                        th XXX 3
                    tr
                        td x
                        td c
                        td v
    footer