<div class="blank-print">
    <br/>

    <p>
        {{comment}}
    </p>

    <h2>Образец заполнения платежного поручения</h2>

    <table class="table table-bordered width-100">
        <tr>
            <td>xxx</td>
            <td>123</td>
            <td>444</td>
        </tr>

        <tr>

        </tr>

        <tr>

        </tr>
    </table>

    <h1>Счет №{{number}} от {{date}}</h1>

    <hr/>

    <p>
        Поставщик: <strong>{{seller}}</strong><br/>
        Покупатель: <strong>{{buyer}}</strong>
    </p>
</div>