<form id="form-contractor-create" class="form forms forms-linear" action="">
    <div class="form-tabs">
        <nav>
            <a data-tab="1" style="width: 33.333333%" class="active" href="#">Данные организации</a>
            <a data-tab="3" style="width: 33.333333%" href="#">Адрес</a>
            <a data-tab="2" style="width: 33.333333%" href="#">Банковские реквизиты</a>
        </nav>
    </div>

    <div class="form-message" style="display: none"></div>

    <div class="units-row-end tab-content" data-tab="1">
        <div class="unit-50">
            <div class="form-item">
                <label for="cc_type">
                    Тип
                    <select id="cc_type">
                        <option selected value="1">ООО</option>
                        <option value="2">ЗАО</option>
                        <option value="3">ОАО</option>
                        <option value="4">ИП</option>
                        <option value="5">ГУП</option>
                        <option value="6">МУП</option>
                        <option value="7">НП</option>
                        <option value="8">АНО</option>
                    </select>
                </label>
            </div>

            <div class="form-item">
                <label for="cc_name">
                    Наименование
                    <input id="cc_name" class="width-100" type="text"/>
                </label>
            </div>

            <div class="form-item">
                <label for="cc_inn">
                    ИНН
                    <input id="cc_inn" class="width-100" type="text"/>
                </label>
            </div>

            <div class="form-item">
                <label for="cc_ogrn">
                    <span>ОГРН</span>
                    <input id="cc_ogrn" class="width-100-real width-100" type="text"/>
                </label>
            </div>

            <div class="form-item" id="kpp-item">
                <label for="cc_kpp">
                    КПП
                    <input id="cc_kpp" class="width-100" type="text"/>
                </label>
            </div>
        </div>

        <div class="unit-50">
            <div class="form-item" id="cc_ceo_type_block">
                <label for="cc_ceo_type">
                    Руководитель
                    <select id="cc_ceo_type">
                        <option selected value="1">Директор</option>
                        <option value="2">Генеральный директор</option>
                        <option value="3">Председатель</option>
                        <option value="5">Не подписывает</option>
                    </select>
                </label>
            </div>

            <div class="form-item">
                <label for="cc_ceo_name">
                    <span>Имя руководителя</span>
                    <input id="cc_ceo_name" class="width-100" type="text"/>
                </label>
            </div>

            <div class="form-item">
                <label for="cc_accountant_type">
                    Бухгалтер
                    <select id="cc_accountant_type">
                        <option selected value="1">Не подписывает</option>
                        <option value="2">Главный бухгалтер</option>
                        <option value="3">Бухгалтер</option>
                    </select>
                </label>
            </div>

            <div class="form-item" id="cc_accountant_name_block" style="display: none">
                <label for="cc_accountant_name">
                    Имя бухгалтера
                    <input id="cc_accountant_name" class="width-100" type="text"/>
                </label>
            </div>
        </div>
    </div>

    <div class="units-row-end tab-content" data-tab="2" style="display: none">
        <div class="unit-50">
            <div class="form-item">
                <label for="bank_bik">
                    БИК
                    <input id="bank_bik" class="width-100" type="text"/>
                </label>

                <label for="bank_pay_account">
                    Расчетный счет
                    <input id="bank_pay_account" class="width-100" type="text"/>
                </label>
            </div>
        </div>

        <div class="unit-50">
            <div class="form-item">
                <label for="bank_bik">
                    Название банка
                    <input id="bank_name" class="width-100" type="text"/>
                </label>

                <label for="bank_corr_account">
                    Корр. счет
                    <input id="bank_corr_account" class="width-100" type="text"/>
                </label>
            </div>
        </div>
    </div>

    <div class="units-row-end tab-content" data-tab="3" style="display: none">
        <div class="unit-50">
            <div class="form-item">
                <label for="cc_city">
                    Населенный пункт
                    <input id="cc_city" class="width-100" type="text"/>
                </label>

                <label for="cc_house">
                    Дом
                    <input id="cc_house" class="width-100" type="text"/>
                </label>
            </div>
        </div>

        <div class="unit-50">
            <div class="form-item">
                <label for="cc_street">
                    Улица
                    <input id="cc_street" class="width-100" type="text"/>
                </label>

                <label for="cc_index">
                    Почтовый индекс
                    <input id="cc_index" class="width-100" type="text"/>
                </label>
            </div>
        </div>
    </div>

    <hr/>

    <div class="form-item no-margin">
        <input class="button blue" type="submit" value="Продолжить"/>
    </div>
</form>



