<div class="upload-tool upload-tool-{{prefix}}">
    <div class="text">
        <p>
            Чтобы загрузить печать правильно, возьмите чистый лист бумаги формата A4, поставьте на нем печать,
            желательно в центре листа, постарайтесь сделать это аккуратно, без разводов и четко, так,
            чтобы она не была повернута относительно книжной ориентации листа.
        </p>

        <p>
            Затем отсканируйте,
            выбрав не самую высокое разрешение, не более 300 точек на дюйм. Далее, нажмите на кнопку
            &laquo;Выбрать изображение&raquo; и выберите получившееся изображение.
        </p>

        <p class="color-gray-light">
            Загружайте изображения в формате JPEG, объемом не более 2 МБ.
        </p>

        <a class="action-button" href="#">Пример листа с печатью</a>
    </div>

    <div class="current-picture">
        <div class="picture">
            <a id="upload-dropzone-{{prefix}}" class="placeholder upload upload-init-{{prefix}}" href="#">
                {{#if image_exists}}
                    <img class="image-icon" src="{{image_path}}">
                {{/if}}

                <img {{#if image_exists}}style="opacity: 0"{{/if}} class="upload-icon animation-300-easeInOutQuart" src="/images/icons/upload@2x.png">
            </a>
        </div>

        <a href="#" class="button upload upload-init-{{prefix}}">Выбрать изображение</a>

        <a style="display: {{#if image_exists}}block{{else}}none{{/if}}" class="delete-image" href="#"><i class="icon-cancel"></i></a>
    </div>

    <div class="clear"></div>

    <input type="file" class="file-input" id="upload-file-{{prefix}}" name="upload_file_{{prefix}}" />
</div>