<div class="upload-tool">
    <div class="text">
        <p>
            Чтобы загрузить печать правильно, возьмите чистый лист бумаги формата A4, поставьте на нем печать,
            желательно в центре листа, постарайтесь сделать это аккуратно, без разводов и четко, так,
            чтобы она не была повернута относительно книжной ориентации листа.
        </p>
        <p>
            Затем отсканируйте,
            выбрав не самую высокое разрешение, не более 300 точек на дюйм. Далее, нажмите на кнопку
            &laquo;Выбрать изображение&raquo; и выберите получившееся изображение.
        </p>

        <a class="action-button" href="#">Пример печати</a>&nbsp;&nbsp;&nbsp;
        <a class="action-button" href="#">Пример документа с печатью</a>

    </div>

    <div class="current-picture">
        <div class="picture">
            <a class="placeholder upload animation-300-easeInOutQuart" href="#"><img src="/images/icons/upload@2x.png"></a>
            </div>
        <a href="#" class="button upload">Выбрать изображение</a>
        </div>
    <div class="clear"></div>
</div>