<form id="form-email-approve" class="form forms forms-linear" action="">
    <div class="form-message"></div>

    <p>
        На ваш адрес электронной почты был отправлен код подтверждения, введите его и нажмите &laquo;Подтвердить&raquo;.
        Если код не пришел, попробуйте <a id="resend-code" class="dashed-link" href="#">выслать его повторно</a>.
    </p>



    <div class="form-item">
        <label for="code">Код подтверждения
            <input id="code" name="code" class="width-100" type="text" value=""/>
        </label>
    </div>

    <hr/>

    <div class="form-item no-margin">
        <input class="button blue" type="submit" value="Подтвердить"/>
    </div>
</form>