<form id="form-email-item" class="form forms forms-columnar" action="">
    <div class="form-message"></div>

    <div class="form-item">
        <label for="ie_email">Электронная почта</label>
        <input id="ie_email" name="ie_email" class="width-100" type="email" value="{{email}}"/>
    </div>

    <div class="form-item">
        <label for="ie_message">Комментарий</label>
        <textarea id="ie_message" name="ie_message" class="width-100">{{description}}</textarea>
    </div>

    <hr/>

    <div class="form-item no-margin">
        <input class="button blue" type="submit" value="Отправить"/>
    </div>
</form>