<form id="form-nomenclature-select" class="form forms forms-linear" action="">
    <div class="form-message" style="display: none"></div>

    <div class="form-item">
        <label for="ns_nomgroup">Категория
			<br/>
        	<select id="ns_nomgroup"></select>
		</label>
    </div>

    <div class="form-item">
        <label for="ns_nomenclature">Позиция
			<br/>
        	<select id="ns_nomenclature"></select>
		</label>
    </div>

    <hr/>

    <div class="form-item no-margin">
        <input class="button blue" type="submit" value="Выбрать"/>
    </div>
</form>