<form id="form-nomenclature-select" class="form forms forms-columnar" action="">
    <div class="form-message" style="display: none"></div>

    <div class="form-item">
        <label for="ns_nomgroup">Категория</label>
        <select id="ns_nomgroup"></select>
    </div>

    <div class="form-item">
        <label for="ns_nomenclature">Позиция</label>
        <select id="ns_nomenclature"></select>
    </div>

    <hr/>

    <div class="form-item no-margin">
        <input class="button blue" type="submit" value="Выбрать"/>
    </div>
</form>