
.icon-spin5:before { content: '\e802'; } /* '' */
.icon-sitemap:before { content: '\e840'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-mail-alt:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-star-empty:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e80b'; } /* '' */
.icon-picture:before { content: '\e80c'; } /* '' */
.icon-th-large:before { content: '\e806'; } /* '' */
.icon-th:before { content: '\e807'; } /* '' */
.icon-th-list:before { content: '\e808'; } /* '' */
.icon-cancel:before { content: '\e809'; } /* '' */
.icon-cancel-circled:before { content: '\e80e'; } /* '' */
.icon-plus:before { content: '\e80a'; } /* '' */
.icon-plus-circled:before { content: '\e80f'; } /* '' */
.icon-minus:before { content: '\e80d'; } /* '' */
.icon-help-circled:before { content: '\e810'; } /* '' */
.icon-info-circled:before { content: '\e811'; } /* '' */
.icon-link:before { content: '\e812'; } /* '' */
.icon-eye:before { content: '\e813'; } /* '' */
.icon-eye-off:before { content: '\e814'; } /* '' */
.icon-tag:before { content: '\e815'; } /* '' */
.icon-tags:before { content: '\e816'; } /* '' */
.icon-bookmark:before { content: '\e817'; } /* '' */
.icon-bookmark-empty:before { content: '\e818'; } /* '' */
.icon-flag:before { content: '\e819'; } /* '' */
.icon-flag-empty:before { content: '\e81a'; } /* '' */
.icon-download-cloud:before { content: '\e81b'; } /* '' */
.icon-upload-cloud:before { content: '\e81c'; } /* '' */
.icon-trash:before { content: '\e829'; } /* '' */
.icon-doc:before { content: '\e827'; } /* '' */
.icon-docs:before { content: '\e826'; } /* '' */
.icon-doc-text:before { content: '\e81f'; } /* '' */
.icon-doc-inv:before { content: '\e820'; } /* '' */
.icon-doc-text-inv:before { content: '\e821'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-folder-open:before { content: '\e823'; } /* '' */
.icon-folder-empty:before { content: '\e824'; } /* '' */
.icon-folder-open-empty:before { content: '\e825'; } /* '' */
.icon-menu:before { content: '\e81e'; } /* '' */
.icon-cog:before { content: '\e81d'; } /* '' */
.icon-calendar:before { content: '\e828'; } /* '' */
.icon-resize-full:before { content: '\e82d'; } /* '' */
.icon-resize-full-alt:before { content: '\e82c'; } /* '' */
.icon-zoom-in:before { content: '\e82a'; } /* '' */
.icon-zoom-out:before { content: '\e82b'; } /* '' */
.icon-align-left:before { content: '\e841'; } /* '' */
.icon-align-center:before { content: '\e842'; } /* '' */
.icon-align-right:before { content: '\e843'; } /* '' */
.icon-align-justify:before { content: '\e844'; } /* '' */
.icon-list:before { content: '\e845'; } /* '' */
.icon-euro:before { content: '\e830'; } /* '' */
.icon-pound:before { content: '\e82f'; } /* '' */
.icon-dollar:before { content: '\e82e'; } /* '' */
.icon-rupee:before { content: '\e831'; } /* '' */
.icon-yen:before { content: '\e832'; } /* '' */
.icon-rouble:before { content: '\e833'; } /* '' */
.icon-try:before { content: '\e834'; } /* '' */
.icon-won:before { content: '\e835'; } /* '' */
.icon-bitcoin:before { content: '\e836'; } /* '' */
.icon-sort:before { content: '\e837'; } /* '' */
.icon-sort-down:before { content: '\e838'; } /* '' */
.icon-sort-up:before { content: '\e839'; } /* '' */
.icon-sort-alt-up:before { content: '\e83a'; } /* '' */
.icon-sort-alt-down:before { content: '\e83b'; } /* '' */
.icon-sort-name-up:before { content: '\e83c'; } /* '' */
.icon-sort-name-down:before { content: '\e83d'; } /* '' */
.icon-sort-number-up:before { content: '\e83e'; } /* '' */
.icon-sort-number-down:before { content: '\e83f'; } /* '' */
.icon-folder:before { content: '\e822'; } /* '' */