extends layouts/auth

block content
    .login
        .login-screen
            .login-form
                form#form-login(action='/auth/login', method='post')
                    h1 Вход

                    .form-message

                    .form-inputs
                        .form-group
                            input#username.form-control.login-field(type='text', name='username', value='', placeholder='Enter your name')
                            label.login-field-icon.fui-user(for='username')
                                i.icon-user-female
                        .form-group
                            input#password.form-control.login-field(type='password', name='password', value='', placeholder='Password')
                            label.login-field-icon.fui-lock(for='password')
                                i.icon-lock

                        input.button.blue(type='submit', value='Войти в Менеджер')

                    div.login-links
                        a.login-link.gray-link(href='/auth/password-recovery') Вспомнить пароль