.blank-print {
  table.table-bordered {
    td, th {
      border-color: #888;
    }

    th {
      font-weight: bold;
    }
  }

  hr {
    border-width: 2px;
    border-color: #888;
  }

  .valign_bottom {
    vertical-align: bottom;
  }

  .valign_middle {
    vertical-align: middle;
  }
}