.ui-datepicker-calendar a {
  color: #59575E;
}

.ui-datepicker-calendar .ui-datepicker-week-end a {
  color: #c63232;
}
.ui-datepicker-calendar .ui-datepicker-week-end span {
  color: #f6b6b6;
}
.ui-datepicker-calendar th.ui-datepicker-week-end,
.ui-datepicker-calendar th.ui-datepicker-week-end span {
  color: #c63232 !important;
}
.ui-datepicker-calendar span,.ui-datepicker-calendar a {
  display: block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin: 0 auto;
}
.ui-datepicker-prev.ui-state-disabled,
.ui-datepicker-next.ui-state-disabled {
  opacity: 0.5;
  text-decoration: none;
  cursor: default;
  color: #ccc !important;
}
.ui-state-disabled {
  color: #ccc !important;
}
.ui-datepicker-prev {
  position: absolute;
  left: 10px;
  cursor: pointer;
  text-decoration: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.ui-datepicker-next {
  position: absolute;
  right: 10px;
  cursor: pointer;
  text-decoration: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.ui-datepicker-calendar {
  width: 100%;
  margin: 0;
  background: #fff;
  a:hover {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #dbdbdb;
    color: #333;
  }

  .ui-state-highlight {
    border-color: #d3d3d3 !important;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #ccc !important;
    font-weight: bold;
  }
  .ui-state-active {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff !important;
    line-height: 24px !important;
    background-color: #2EC0FE !important;
  }
  td {
    border: none;
    padding: 2px 0 !important;
  }
  .ui-datepicker-week-end {
    a:hover {
      color: #8f1d1d;
    }
  }
  th {
    padding: 6px 0;
    border: none;
    background: rgba(0, 0, 0, 0.1);
  }
}
.ui-datepicker-title {
  text-align: center;
  font-style: italic;
}
.ui-datepicker-header {
  position: relative;
  padding: 10px;
}

