.ui-datepicker-calendar a {
  color: #59575E;
}

.ui-datepicker-calendar .ui-datepicker-week-end a {
  color: #FD5559;
}
.ui-datepicker-calendar .ui-datepicker-week-end span {
  color: #f6b6b6;
}
.ui-datepicker-calendar th.ui-datepicker-week-end,
.ui-datepicker-calendar th.ui-datepicker-week-end span {
  color: #FD5559 !important;
}
.ui-datepicker-calendar span,.ui-datepicker-calendar a {
  display: block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin: 0 auto;
}
.ui-datepicker-prev.ui-state-disabled,
.ui-datepicker-next.ui-state-disabled {
  opacity: 0.5;
  text-decoration: none;
  cursor: default;
  color: #ccc !important;
}
.ui-state-disabled {
  color: #ccc !important;
}
.ui-datepicker-prev {
  position: absolute;
  left: 10px;
  cursor: pointer;
  text-decoration: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.ui-datepicker-next {
  position: absolute;
  right: 10px;
  cursor: pointer;
  text-decoration: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.ui-datepicker-calendar {
  width: 100%;
  margin: 0;
  background: #fff;
  a:hover {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #dbdbdb;
    color: #333;
  }

  .ui-state-highlight {
    border-color: #d3d3d3 !important;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #ccc !important;
    font-weight: bold;
  }
  .ui-state-active {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff !important;
    line-height: 24px !important;
    background-color: #4ABFB4 !important;
  }
  td {
    border: none;
    padding: 2px 0 !important;
  }
  .ui-datepicker-week-end {
    a:hover {
      color: #FD5559;
    }
  }
  th {
    padding: 6px 0;
    border: none;
    background: rgba(0, 0, 0, 0.1);
  }
}
.ui-datepicker-title {
  text-align: center;
  font-style: italic;
}
.ui-datepicker-header {
  position: relative;
  padding: 10px;
}


// Date control
.date-control {
  padding-right: 40px;
  position: relative;

  .datepicker-picker {
    position: absolute;
    right: 5px;
    top: 0;
    padding: 3px 5px;
    text-align: center;

    i {
      margin: 0;
    }
  }

  .datepicker-widget {
    background: #fff;
    width: 240px;
    position: absolute;
    top: -7px;
    right: -250px;
    opacity: 0;
    padding: 0 0 3px;
    z-index: 10;

    @scale: scale(0);

    -moz-transform: @scale;
    -webkit-transform: @scale;
    -o-transform: @scale;
    transform: @scale;

    border-radius: @ui-border-radius + 1;
    -webkit-border-radius: @ui-border-radius + 1;
    -moz-border-radius: @ui-border-radius + 1;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

    i.arrow {
      position: absolute;
      top: 13px;
      left: -10px;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 8px 10px 8px 0;
      border-color: transparent #fff transparent transparent;
    }

    table {
      border: none;
      margin: 0;

      th, td {
        padding: 0;
        width: 0;
        text-align: center;
      }
    }
  }

  .datepicker-widget.show {
    opacity: 1;

    @scale: scale(1);

    -moz-transform: @scale;
    -webkit-transform: @scale;
    -o-transform: @scale;
    transform: @scale;
  }
}