// Form
.form {
  background: @panel-bg-light;
  padding: 20px;
  border-radius: @ui-border-radius;
  -webkit-border-radius: @ui-border-radius;
  -moz-border-radius: @ui-border-radius;

  border-bottom: 3px solid @panel-bg-light - 15;

  .form-item {
    min-height: 30px;
  }

  .form-item.no-margin {
    min-height: auto;
  }

  fieldset {
    padding: 20px 10px 0 0;
    width: 100%;
    border-color: @panel-bg-light - 30;
  }

  input:disabled {
    opacity: 0.75;
    color: #888;
  }

  .width-full-size {
    width: 97.76%;
  }

  hr {
    width: 100%;
    padding: 0 20px;
    margin-left: -20px;
    border: none;
    border-bottom: 2px dashed @panel-bg-light - 25;
  }

  .form-hidden-section {
    display: none;
  }

  .form-hidden-section.active {
    display: block;
  }

  .form-message {
    display: none;
    width: 100%;
    padding: 10px 20px;
    margin: -20px 0 20px -20px;
    color: #fff;
    position: relative;
    font-size: 14px;
    border-radius: @ui-border-radius-top;
    -webkit-border-radius: @ui-border-radius-top;
    -moz-border-radius: @ui-border-radius-top;

    .close {
      position: absolute;
      right: 7px;
      top: 7px;
      color: #fff !important;
    }
  }

  .form-message.success {
    background: @color-green;
  }

  .form-message.error {
    background: @color-red;
  }
}

.form.form-with-tools {
  border-radius: @ui-border-radius-bottom;
  -webkit-border-radius: @ui-border-radius-bottom;
  -moz-border-radius: @ui-border-radius-bottom;

  .form-message {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  }
}

label {
  top: 3px !important
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
textarea {
  border-radius: @ui-border-radius;
  -webkit-border-radius: @ui-border-radius;
  -moz-border-radius: @ui-border-radius;
  box-shadow: none !important;
  padding: 4px 6px;
  border: 1px solid transparent;
}

input:focus,
textarea:focus {
  border-color: #5ca9e4 !important;
}

input.input-error,
textarea.input-error,
select.input-error,
.input-error {
  border-color: #EF6869;
}

.form-tabs {
  padding: 0 20px;
  height: 45px;
  position: relative;
  -moz-border-radius: @ui-border-radius-top;
  -webkit-border-radius: @ui-border-radius-top;
  border-radius: @ui-border-radius-top;

  nav {
    width: 100%;
    position: absolute;
    height: 45px;
    line-height: 26px;
    left: 0;
    clear: both;

    a {
      text-align: center;
      height: 26px;
      line-height: 26px;
      padding: 0 12px;
      display: block;
      margin-right: 10px;
      float: left;
      color: @color-header;
      .animation-150-easeInOutQuart;

      -moz-border-radius: @ui-border-radius;
      -webkit-border-radius: @ui-border-radius;
      border-radius: @ui-border-radius;
    }

    a:hover {
      background: rgba(0, 0, 0, 0.06);
    }

    a.active {
      background: @color-blue url(../images/gradient.png) repeat-x top;
      color: #fff;
      display: block;
      box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
    }
  }

  nav:after {
    content: '';
    display: block;
    clear: both;
    height: 15px;
  }
}

.select-with-button {
  padding-right: 120px;
  position: relative;

  .action-button {
    position: absolute;
    right: 3px;
    top: 0;
    border-radius: @ui-border-radius-right;
    width: 49px;
  }

  .chosen-container {
    width: 219px;
    max-width: 219px;
    min-width: 219px;

    .chosen-single {
      border-radius: @ui-border-radius-left;
    }
  }
}