// Items selector
.items-selector {
  background: #fff;
  border-radius: @ui-border-radius;
  -webkit-border-radius: @ui-border-radius;
  -moz-border-radius: @ui-border-radius;
  border: 1px solid #ccc;
  padding: 0;
  margin-right: 4px;

  .action-button.warning {
    box-shadow: none;
  }

  .action-button.warning:hover {
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  }

  .add-from-db {
    padding: 3px 12px !important;
    margin-left: -6px;
  }

  .chosen-container {
    min-width: 0 !important;
    max-width: 100% !important;
  }

  table {
    width: 100%;
    margin-bottom: 0;

    th {
      font-weight: bold;
      padding-left: 0;
      background: #F2F1F5;
      white-space: nowrap;
    }

    td {
      vertical-align: top;
      padding-left: 0;

      input {
        margin-left: -6px;
        min-width: 36px;
      }

      .price {
        white-space: nowrap;
      }
    }

    .new-item-row {
      background-color: #F2F1F5;
    }

    .total-row {
      td {
        border-bottom: none;
      }
    }

    .new-item-row,
    .total-row {
      td {
        vertical-align: middle;
        position: relative;
      }
    }

    th:first-of-type,
    td:first-of-type {
      padding-left: 10px;
    }

    tr:last-of-type td:first-of-type {
      border-radius: @ui-border-radius-bottom-left;
      -webkit-border-radius: @ui-border-radius-bottom-left;
      -moz-border-radius: @ui-border-radius-bottom-left;
    }

    tr:last-of-type td:last-of-type {
      border-radius: @ui-border-radius-bottom-right;
      -webkit-border-radius: @ui-border-radius-bottom-right;
      -moz-border-radius: @ui-border-radius-bottom-right;
    }

    .action-button {
      padding: 2px 3px 2px 10px;
    }
  }
}
