// Imports
@import 'kube/kube';
@import '/fontello/css/fontello.css';
@import '/fontello/css/animation.css';
@import 'login';
@import 'modal';
@import 'animation';
@import 'form';
@import 'datepicker';
@import 'checkbox';
@import 'number-input';
@import 'items-selector';
@import 'docview';
@import 'crop';
@import 'requisites';

@import 'meow';
@import 'kladr';
@import 'chosen';
@import 'jcrop';

// Vars
@app-width: 1000px;

@base-bg: #E1E6EC;
@base-font-size: 14px;
@base-font-color: #59575E;

@color-header: #59575E;

@color-green: #4ABFB4;
@color-green-dark: #3fb2a8;

@color-red: #FD5559;
@color-red-dark: #e83a3e;

@color-blue: #3498DB;
@color-blue-dark: #2c8bca;

@color-yellow: #ffd02c;

@panel-bg-light: #F4F3F5;

@ui-header-height: 100px;
@ui-top-nav-height: 50px;

@ui-border-radius: 3px;
@ui-border-radius-left: 3px 0 0 3px;
@ui-border-radius-right: 0 3px 3px 0;
@ui-border-radius-top: 3px 3px 0 0;
@ui-border-radius-bottom: 0 0 3px 3px;
@ui-border-radius-top-left: 3px 0 0 0;
@ui-border-radius-top-right: 0 3px 0 0;
@ui-border-radius-bottom-right: 0 0 3px 0;
@ui-border-radius-bottom-left: 0 0 0 3px;

// Links
a {
  text-decoration: none;
}

a, a:link, a:active {

}

a:hover, a:active {
  color: @colorLinkHover;
}

a.dashed-link, a.dashed-link:link, a.dashed-link:active {
  color: @colorLink;
  text-decoration: none;
  border-bottom: 1px dashed @colorLink;
}

a.dashed-link:hover, a.dashed-link:active {
  color: #ff8841;
  border-bottom: 1px dashed @colorLinkHover;
}


a.gray-link, a.gray-link:link, a.gray-link:active {
  color: #b8bdc0;
}

a.gray-link:hover, a.gray-link:active {
  color: @colorLinkHover;
}

// Base
html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  font-size: @base-font-size;
  background: #E1E6EC url(../images/patterns/pattern.png);
  color: @base-font-color;
}

.clearfix {
  clear: both;
}

// Typographics
h1, h2, h3, h4 {
  color: @color-header;
}

h1 {
  font-size: 1.8em;
  margin-bottom: 20px;

  a {
    color: @panel-bg-light - 70;
  }

  a:hover {
    border-color: #ff8841;
  }
}

// Loading
#loading-global {
  background: url(../images/global-loading.png) 0 0;
  position: fixed;
  opacity: 0.75;
  width: @app-width + 60;
  margin-left: -@app-width / 2 - 30;
  height: 5px;
  left: 50%;
  top: -5px;
  -webkit-animation: gla 0.1s linear infinite;
  -moz-animation: gla 0.1s linear infinite;
  -o-animation: gla 0.1s linear infinite;
  animation: gla 0.1s linear infinite;
  z-index: 2000;
}

// Layout
.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background: #fff;
  padding: 0 30px;
  margin: 0 auto;
  width: @app-width;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

// App
.app {
  width: @app-width;
  padding: 0 0 100px;
  margin: 0 auto;
  position: relative;
}

// Header
header {
  position: relative;
  width: 100%;
  padding: 0 30px 20px;
  margin: 0 0 25px -30px;
  background: rgba(0, 0, 0, 0.02);

  .top-menu {
    .menu-icon {
      display: block;
      float: left;
      width: 12.5%;
      text-align: center;
      padding: 6px 0;
      box-sizing: border-box;

      .animation-150-easeInOutQuart;
      
      i {
        height: 68px;
        width: 68px;
        display: block;
        margin: 0 auto 0;
      }

      span {
        color: #545259;
        font-size: 1.05em;
        font-weight: bold;
      }
    }

    .menu-icon.active {
      border-radius: @ui-border-radius + 2;
      background: #fff;
      opacity: 1 !important;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    }

    .menu-icon .i1 {
      background: url(../images/icons/nav/1.png);
    }

    .menu-icon .i2 {
      background: url(../images/icons/nav/2.png);
    }

    .menu-icon .i3 {
      background: url(../images/icons/nav/3.png);
    }

    .menu-icon .i4 {
      background: url(../images/icons/nav/4.png);
    }

    .menu-icon .i5 {
      background: url(../images/icons/nav/5.png);
    }

    .menu-icon .i6 {
      background: url(../images/icons/nav/6.png);
    }

    .menu-icon .i7 {
      background: url(../images/icons/nav/7.png);
    }

    .menu-icon .i8 {
      background: url(../images/icons/nav/8.png);
    }

    .menu-icon:hover {
      opacity: 0.75;
    }
  } 

  .top {
    height: 60px;
    background: #4F5770;
    width: 100%;
    position: relative;
    padding: 0 30px;
    margin: 0 0 20px -30px;

    .logo {
      width: 152px;
      height: 30px;
      position: absolute;
      display: block;
      left: 30px;
      top: 50%;
      margin: -15px 0 0 0;
      background: url(../images/logo.png) no-repeat;
    }
  }
}

// Side nav
.side-menu {
  background: @panel-bg-light;

  border-radius: @ui-border-radius;
  -webkit-border-radius: @ui-border-radius;
  -moz-border-radius: @ui-border-radius;

  box-shadow: inset 0 -3px 0 0 @panel-bg-light - 15;

  padding: 0;

  a {
    text-decoration: none;
    color: @color-header;
    display: block;
    padding: 7px 20px;
    background: @panel-bg-light;

    i.actions {
      display: none;
      float: right;
      margin-right: -5px;
    }

    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  a.ui-sortable-helper {
    -webkit-transition: -moz-transform .1s ease-out;
    -moz-transition: -webkit-transform .1s ease-out;
    transition: -webkit-transform .1s ease-out;

    -moz-transform: scale(1.027);
    -webkit-transform: scale(1.027);
    transform: scale(1.027);

    box-shadow: none !important;

    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
  }

  a.sortable-highlight {
    background: @color-blue;
    opacity: 0.2;
  }

  a:hover {
    background: @panel-bg-light - 8;

    i.actions {
      display: block;
      color: @panel-bg-light - 60 !important;
    }

    i.actions:hover {
      color: @panel-bg-light - 120 !important;
    }
  }

  a:first-of-type {
    border-radius: @ui-border-radius-top;
    -webkit-border-radius: @ui-border-radius-top;
    -moz-border-radius: @ui-border-radius-top;
  }

  a:last-of-type {
    box-shadow: inset 0 -3px 0 0 @panel-bg-light - 15;

    border-radius: @ui-border-radius-bottom;
    -webkit-border-radius: @ui-border-radius-bottom;
    -moz-border-radius: @ui-border-radius-bottom;
  }

  a:last-of-type:hover {
    box-shadow: inset 0 -3px 0 0 @panel-bg-light - 23;
  }

  a.active {
    background: @color-blue;
    color: #fff;

    i.actions {
      color: @color-blue + 40 !important;
    }

    i.actions:hover {
      color: @color-blue + 80 !important;
    }
  }

  a:last-of-type.active {
    box-shadow: inset 0 -3px 0 0 @color-blue - 20;
  }

  .group {
    a:last-of-type {
      box-shadow: none !important;

      border-radius: 0 !important;
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
    }

    a.last {
      border-radius: @ui-border-radius-bottom !important;
      -webkit-border-radius: @ui-border-radius-bottom !important;
      -moz-border-radius: @ui-border-radius-bottom !important;
    }
  }

  a.last {
    border-radius: @ui-border-radius-bottom !important;
    -webkit-border-radius: @ui-border-radius-bottom !important;
    -moz-border-radius: @ui-border-radius-bottom !important;
  }
}

.side-menu.with-tools {
  border-radius: @ui-border-radius-bottom;
  -webkit-border-radius: @ui-border-radius-bottom;
  -moz-border-radius: @ui-border-radius-bottom;

  a:first-of-type {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  }
}

// Main view
.main-view {
  margin-bottom: 30px;
}

// Buttons
.button {
  text-decoration: none;
  background-image: url(../images/gradient.png);
  background-repeat: repeat-x;
  background-position: top;
  background-color: @panel-bg-light - 20;
  display: inline-block;
  padding: 0 15px;
  margin: 0 25px 0 0;
  height: 42px;
  line-height: 40px;
  font-size: 15px !important;
  font-family: inherit;
  color: #59575E;
  text-align: center;
  border: none;
  border-radius: @ui-border-radius + 1;
  -webkit-border-radius: @ui-border-radius + 1;
  -moz-border-radius: @ui-border-radius + 1;

  outline: none;

  @box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);

  box-shadow: @box-shadow;
  -webkit-box-shadow: @box-shadow;
  -moz-box-shadow: @box-shadow;

  @transition: all 150ms cubic-bezier(0.770, 0.000, 0.175, 1.000);

  -webkit-transition: @transition;
  -moz-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}

.button:focus {
  @box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);

  box-shadow: @box-shadow;
  -webkit-box-shadow: @box-shadow;
  -moz-box-shadow: @box-shadow;
}

.button:active {
  @box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);

  box-shadow: @box-shadow;
  -webkit-box-shadow: @box-shadow;
  -moz-box-shadow: @box-shadow;
}

.button:disabled {
  opacity: 0.5;
}

.button:hover {
  background-color: @panel-bg-light - 32;
  color: #59575E;
}

.button.blue {
  background-color: @color-blue;
  color: #fff !important;
}

.button.blue:hover {
  background-color: @color-blue-dark;
}

.button.green {
  background-color: @color-green;
  color: #fff !important;
}

.button.green:hover {
  background-color: @color-green-dark;
}

.button.red {
  background-color: @color-red-dark;
  color: #fff;
}

.button.red:hover {
  background: @color-red;
}

// Action buttons
.multi-action {
  opacity: 0;
  @scale: scale(0);

  -moz-transform: @scale;
  -webkit-transform: @scale;
  -o-transform: @scale;
  transform: @scale;
}

.multi-action.show {
  opacity: 1;
  @scale: scale(1);

  -moz-transform: @scale;
  -webkit-transform: @scale;
  -o-transform: @scale;
  transform: @scale;
}

// Section tools
.section-tools {
  display: block;
  padding: 10px;
  background-color: @panel-bg-light - 10;
  border-radius: @ui-border-radius-top;
  -webkit-border-radius: @ui-border-radius-top;
  -moz-border-radius: @ui-border-radius-top;

  .filters {
    float: right;
    margin: 0;

    .item {
      float: left;

      .date-control {
        display: inline-block;
      }

      label {
        margin-right: 5px;
      }
    }

    input[type="submit"] {
      margin-right: 0;
    }
  }

  .action-button {
    margin-right: 10px;
    border-color: transparent;
    background: none;
    box-shadow: none;
  }

  .action-button.only-icon {
    background-image: url(../images/gradient.png);
    background-color: @panel-bg-light - 40;
    color: #59575E;

    @box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);

    box-shadow: @box-shadow;
    -webkit-box-shadow: @box-shadow;
    -moz-box-shadow: @box-shadow;
  }

  .action-button.only-icon:hover {
    background-color: @panel-bg-light - 30;
  }

  .action-button.only-icon:active {
    @box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);

    box-shadow: @box-shadow;
    -webkit-box-shadow: @box-shadow;
    -moz-box-shadow: @box-shadow;
  }
}

.section-tools-divided {
  border-radius: @ui-border-radius;
  -webkit-border-radius: @ui-border-radius;
  -moz-border-radius: @ui-border-radius;
  margin-bottom: 20px;
  border-bottom: 3px solid @panel-bg-light - 30;
}

.action-button {
  background-image: url(../images/gradient.png);
  background-repeat: repeat-x;
  background-position: top;

  border: none;
  display: inline-block;
  padding: 3px 12px;
  line-height: 23px;
  font-size: 14px !important;
  font-face: inherit;
  text-decoration: none;
  color: #59575E;
  border-radius: @ui-border-radius + 1;
  -webkit-border-radius: @ui-border-radius + 1;
  -moz-border-radius: @ui-border-radius + 1;

  @transition: all 150ms cubic-bezier(0.770, 0.000, 0.175, 1.000);

  -webkit-transition: @transition;
  -moz-transition: @transition;
  -o-transition: @transition;
  transition: @transition;

  @box-shadow: inset 0 0 0 2px #CCCCCC;

  box-shadow: @box-shadow;
  -webkit-box-shadow: @box-shadow;
  -moz-box-shadow: @box-shadow;

  i {
    margin: 0 4px 0 -6px;
  }
}

.action-button.only-icon {
  padding-right: 0;
}

.action-button.only-icon i {
  margin-right: 6px;
}

input.action-button {
  font-size: 13px !important;
}

.action-button.wo-text {
  padding: 0 2px;

  i {
    margin-left: 0;
  }
}

.action-button.filled {
  background-image: url(../images/gradient.png);
  background-color: @panel-bg-light - 12;
  color: #59575E;

  @box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);

  box-shadow: @box-shadow;
  -webkit-box-shadow: @box-shadow;
  -moz-box-shadow: @box-shadow;
}

.action-button:hover {
  background-image: url(../images/gradient.png);
  background-color: @panel-bg-light - 40;
  color: #59575E;

  @box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);

  box-shadow: @box-shadow;
  -webkit-box-shadow: @box-shadow;
  -moz-box-shadow: @box-shadow;
}

.action-button.filled:hover {
  background-image: url(../images/gradient.png);
  background-color: @panel-bg-light - 30;
  color: #59575E;

  @box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);

  box-shadow: @box-shadow;
  -webkit-box-shadow: @box-shadow;
  -moz-box-shadow: @box-shadow;
}

.action-button.filled:active {
  @box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);

  box-shadow: @box-shadow;
  -webkit-box-shadow: @box-shadow;
  -moz-box-shadow: @box-shadow;
}

.action-button:active {
  @box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);

  box-shadow: @box-shadow;
  -webkit-box-shadow: @box-shadow;
  -moz-box-shadow: @box-shadow;
}

.action-button.green {
  background-color: @color-green;
  background-image: url(../images/gradient.png);
  border: none;
  color: #fff;

  @box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);

  box-shadow: @box-shadow;
  -webkit-box-shadow: @box-shadow;
  -moz-box-shadow: @box-shadow;
}

.action-button.green:hover {
  background-image: url(../images/gradient.png);
  background-color: @color-green-dark;
  border-color: @color-green-dark;
  color: #fff;
}

.action-button.green:active {
  @box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);

  box-shadow: @box-shadow;
  -webkit-box-shadow: @box-shadow;
  -moz-box-shadow: @box-shadow;
}

.action-button.blue {
  background-color: @color-blue !important;
  background-image: url(../images/gradient.png);
  color: #fff !important;

  @box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);

  box-shadow: @box-shadow;
  -webkit-box-shadow: @box-shadow;
  -moz-box-shadow: @box-shadow;
}

.action-button.blue:hover {
  background-image: url(../images/gradient.png);
  background-color: @color-blue-dark !important;
  color: #fff !important;
}

.action-button.blue:active {
  @box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);

  box-shadow: @box-shadow;
  -webkit-box-shadow: @box-shadow;
  -moz-box-shadow: @box-shadow;
}

.action-button.red {
  background-image: url(../images/gradient.png);
  background-color: @color-red-dark;
  border-color: @color-red-dark;
  color: #fff;

  @box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);

  box-shadow: @box-shadow;
  -webkit-box-shadow: @box-shadow;
  -moz-box-shadow: @box-shadow;
}

.action-button.red:hover {
  background-image: url(../images/gradient.png);
  background-color: @color-red;
  border-color: @color-red;
  color: #fff;
}

.action-button.red:active {
  @box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);

  box-shadow: @box-shadow;
  -webkit-box-shadow: @box-shadow;
  -moz-box-shadow: @box-shadow;
}

.action-button.warning i {
  color: @color-red;
}

.action-button.warning:hover {
  background-image: url(../images/gradient.png);
  background-color: @color-red-dark;
  border-color: @color-red-dark;
  color: #fff;
  i {
    color: #fff;
  }
}

.table-empty {
  background: @panel-bg-light;
  padding: 15px 20px;
  text-align: center;
  border-radius: @ui-border-radius;
  -webkit-border-radius: @ui-border-radius;
  -moz-border-radius: @ui-border-radius;

  border-bottom: 3px solid @panel-bg-light - 15;
}

.table-empty.table-empty-with-tools {
  border-radius: @ui-border-radius-bottom;
  -webkit-border-radius: @ui-border-radius-bottom;
  -moz-border-radius: @ui-border-radius-bottom;
}

// Table
.table-container {
  width: auto;
  border-radius: @ui-border-radius;
  -webkit-border-radius: @ui-border-radius;
  -moz-border-radius: @ui-border-radius;

  border-bottom: 3px solid @panel-bg-light - 15;

  .action-button {
    margin: 0 5px;
    height: 1.5em;
  }

  .items-table {
    th {
      white-space: nowrap;
    }
  }

  table {
    background: #fff;
    border-collapse: collapse;

    th {
      font-weight: bold;
      background: #F2F1F5;
      border-width: 1px;
      border-right: none;
      border-left: none;
      cursor: pointer;

      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;

      .arrow {
        display: inline-block;
        width: 20px;
      }

      .status-label {
        color: inherit;
        border-color: #59575E;
      }
    }

    td {
      border-width: 1px;
      border-right: none;
      border-left: none;
    }
  }
}

.table-container-with-tools {
  border-radius: @ui-border-radius-bottom;
  -webkit-border-radius: @ui-border-radius-bottom;
  -moz-border-radius: @ui-border-radius-bottom;
}

.user-params {
  position: absolute;
  top: 15px;
  right: 30px;

  .company-selector {
    color: #fff;
    margin-right: 25px;
    font-weight: normal;

    i {
      margin-right: 6px;
    }
  }

  .company-selector:hover {
    color: #DDDFE0;
  }

  .user-button {
    margin-right: 25px;
    background-image: url(../images/gradient.png) top repeat-x;
    background-color: rgba(255, 255, 255, 0.04);
    font-weight: bold;
    color: #fff;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.125);
  }

  .user-button:hover {
    background-color: rgba(255, 255, 255, 0.13);
  }
}

// Labels
.status-label {
  color: #999;
  white-space: nowrap;

  i {
    color: #ccc;
  }
}

.status-label.active {
  color: @color-green;

  i {
    color: inherit;
  }
}

//Stepped form
.progress-bar {
  @bar-height: 6px;

  background-image: url(../images/gradient.png);
  background-repeat: repeat-x;
  background-position: top;

  height: @bar-height;
  background-color: @panel-bg-light;

  margin: 0 0 10px;

  border-radius: @ui-border-radius;
  -webkit-border-radius: @ui-border-radius;
  -moz-border-radius: @ui-border-radius;

  div {
    height: @bar-height;

    background-image: url(../images/gradient.png);
    background-repeat: repeat-x;
    background-position: top;

    background-color: @color-green;

    border-radius: @ui-border-radius;
    -webkit-border-radius: @ui-border-radius;
    -moz-border-radius: @ui-border-radius;

    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.2);
  }
}

.form-step {
  float: left;
  width: 960px;
}

.form-step.active {
  display: block;
}

.form.slideable {
  position: relative;

  .slideable-wrapper {
    overflow: hidden;

    .slideable-container {

    }
  }
}


// Main actions
.main-actions {
  .item {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 15px;
    height: 110px;
    background: @panel-bg-light;
    border-radius: @ui-border-radius;
    -webkit-border-radius: @ui-border-radius;
    -moz-border-radius: @ui-border-radius;

    border-bottom: 3px solid #DDDDDD;

    @transition: all 150ms cubic-bezier(0.770, 0.000, 0.175, 1.000);

    -webkit-transition: @transition;
    -moz-transition: @transition;
    -o-transition: @transition;
    transition: @transition;

    img {
      width: 80px;
      height: 80px;
      display: block;
      margin: 0 auto 5px;
    }

    .title {
      font-size: 1.1em;
      font-weight: bold;
      color: @color-header;
    }
  }

  .item:hover {
    background: @panel-bg-light - 10;
  }
}

// Notice
.notice {
  height: 40px;
  line-height: 38px;
  padding: 0 30px;
  width: 100%;
  display: block;
  margin: -40px 0 0 -30px;
  text-align: center;
  text-decoration: none;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.1);

  i {
    margin-right: 6px;
  }
}

.notice.yellow {
  color: #5b4c1c;
  background-color: rgba(255,208,44,1);
}

.notice.yellow:hover {
  background-color: rgba(255,208,44,0.7);
}

//Company selector
.company-selector {

}

.companies-menu {
  max-height: 279px;
  overflow-y: auto;

  .button {
    border-radius: 0;
    display: block;
  }

  .item {
    position: relative;
    box-shadow: inset 0 1px 0 @panel-bg-light - 5;

    a.company-name {
      display: block;
      padding: 8px 110px 8px 20px;
      color: @color-header;
      text-decoration: none;

      span {
        width: 100%;
        height: 23px;
        display: block;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }
    }

    .company-tools {
      position: absolute;
      top: 0;
      right: 20px;
      width: 90px;
      padding: 8px 0;
      text-align: right;

      a {
        position: relative;
        z-index: 2;
        color: #b8b7b9 !important;
      }

      a:hover {
        color: #7c7b7d !important
      }
    }
  }

  .item:hover {
    a.company-name {
      background: @panel-bg-light - 8;
    }

    .company-tools {
      display: block;
    }
  }

  .item.active {
    a {
      color: #fff;
      background-color: @color-blue !important;
    }

    .company-tools {
      a {
        color: #5cc0ff !important;
      }

      a:hover {
        color: #84e8ff !important;
      }
    }
  }

  .item:last-of-type, .item:last-of-type a.company-name {
    border-radius: @ui-border-radius-bottom;
    -webkit-border-radius: @ui-border-radius-bottom;
    -moz-border-radius: @ui-border-radius-bottom;
  }
}

.right-info-panel {
  background: @panel-bg-light;
  border-radius: @ui-border-radius;
  -webkit-border-radius: @ui-border-radius;
  -moz-border-radius: @ui-border-radius;

  box-shadow: inset 0 -3px 0 0 @panel-bg-light - 15;

  .after-info {
    padding: 10px 20px;
    background: @panel-bg-light - 20;
    box-shadow: inset 0 -3px 0 0 @panel-bg-light - 30;

    border-radius: @ui-border-radius-bottom;
    -webkit-border-radius: @ui-border-radius-bottom;
    -moz-border-radius: @ui-border-radius-bottom;
  }

  .checklist {
    padding: 10px 0;

    .item {
      padding: 7px 20px;

      i {
        margin-right: 6px;
        color: #ccc;
      }
    }

    .item.active {
      i {
        color: @color-green;
      }
    }
  }
}

.width-100-real {
  width: 99.5% !important;
}

// Footer
footer {
  width: @app-width + 60;
  margin: -100px auto 0;
  height: 100px;
  background: @panel-bg-light;
}

// Media queries
@media (-webkit-device-pixel-ratio: 2){
  body {
    background: url(../images/stacked-circles@2X.png);
  }
}