/* @group Base */
body, html {
    height: 100%;
    font-size: 14px;
}
/* @end */


/* @group App */
.app {
    height: 100%;
}
/* @end */


/* @group Header */
header {
	background: #1C1A22;
	height: 80px;
    line-height: 80px;
	color: #fff;
    position: relative;
    z-index: 2;
}

header .logo {
    color: #fff !important;
    height: 80px;
    line-height: 80px;
    padding: 0 20px;
    font-size: 1.8em;
    font-weight: bold;
}
/* @end */


/* @group Loading */
#loading-global {
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
    opacity: 0;
    display: block;
}
/* @end */


/* @group Left-side */
.left {
    background: #1C1A22;
    width: 200px;
    top: 0;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.left nav.left-menu {
    position: relative;
    top: 80px;
}

.left nav.left-menu a {
    padding: 14px 20px 14px 65px;
    position: relative;
    display: block;
    color: #fff;
}

.left nav.left-menu a i {
    position: absolute;
    margin-right: 20px;
    font-size: 1.65em;
    margin-bottom: -2px;
    left: 20px;
    top: 50%;
    margin-top: -0.85em;
}

.left nav.left-menu a:hover {
    background: rgba(255, 255, 255, 0.2);
}

.left nav.left-menu a.active {
    background: #28B591;
}
/* @end */


/* @group Footer */
.content {
    margin-top: -80px;
    height: 100%;
    margin-left: 200px;
    position: relative;
}

.content .top-line {
    background: #F2F1F5;
    position: relative;
    top: 80px;
    height: 56px;
    padding: 0 30px;
}

.content .top-line h1 {
    font-size: 1.8em;
    margin: 0;
    line-height: 56px;
    font-weight: normal;
    color: #59575E;
}

.content .maiv-view {
    position: relative;
    top: 80px;
    padding: 22px 30px;
}
/* @end */


/* @group Footer */
footer {
    background: #939294;
    height: 56px;
    margin-top: -56px;
}
/* @end */


/* @group Login form */
.login-screen {
    width: 336px;
    margin: 0 auto;
    position: relative;
    top: 22%;
}

.login {
    height: 100%;
    color: #ffffff;
    background-color: #1abc9c;
}

.login .alert {
    text-align: center;
}

.login .social {
    background: #ddd;
    padding: 20px;
    width: 336px;
    display: block;
    margin-left: -23px;
    margin-top: 10px;
    margin-bottom: -20px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.login .social .btn {
    height: 50px;
    width: 50px;
    margin: 0 11px 0 0;
    line-height: 50px;
    padding: 0 10px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.login .social .btn:last-of-type {
    margin-right: 0;
}

.login .divider {
    height: 2px;
    background: #BFC9CA;
    margin: 1em 0;
}

.login-screen .login-icon {
    left: -140px;
    top: 0;
    position: absolute;
    width: 96px;
}

.login-screen .login-icon > img {
    display: block;
    margin-bottom: 6px;
    width: 100%;
}

.login-screen .login-icon > h4 {
    font-size: 17px;
    font-weight: 300;
    line-height: 34px;
    opacity: 0.95;
    filter: alpha(opacity=95);
}

.login-screen .login-icon > h4 small {
    color: inherit;
    display: block;
    font-size: inherit;
    font-weight: 700;
}

.login-screen .login-form {
    background-color: #edeff1;
    padding: 24px 23px 20px;
    position: relative;
    border-radius: 6px;
}

.login-screen .login-form:before {
    content: '';
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent #edeff1 transparent transparent;
    height: 0;
    position: absolute;
    left: -12px;
    top: 35px;
    width: 0;
    -webkit-transform: rotate(360deg);
}

.login-screen .login-form .control-group {
    margin-bottom: 6px;
    position: relative;
}

.login-screen .login-form .login-field {
    border-color: transparent;
    font-size: 17px;
    text-indent: 3px;
}

.login-screen .login-form .form-group.has-error .login-field {
    border-color: #e74c3c;
}

.login-screen .login-form .login-field:focus {
    border-color: #1abc9c;
}

.login-screen .login-form .login-field:focus + .login-field-icon {
    color: #1abc9c;
}

.login-screen .login-form .login-field-icon {
    color: #bfc9ca;
    font-size: 16px;
    position: absolute;
    right: 13px;
    top: 2px;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.login-screen .login-links {
    padding-top: 10px;
    text-align: center;
}

.login-screen .login-link {
    color: #bfc9ca;
    font-size: 13px;
    margin: 0 12px;
}
/* @end */